<!-- エラーメッセージ -->
<% if @shop.errors.any? %>
    <div class = "alert alert-warning">
        <ul>
            <% @shop.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with model: @shop, url: user_shops_path, local: true do |f| %>
  <div class="form-group">
    <p><%= f.label :shop_name %></p>
    <%= f.text_field :shop_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :open_time %></p>
    <%= f.time_field :open_time, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :close_time %></p>
    <%= f.time_field :close_time, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :tel_number %></p>
    <%= f.text_field :tel_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :treatment %></p>
    <%= f.select :treatment, Shop.treatments.keys.map{|k| [I18n.t("enums.shop.treatment.#{k}"), k]}, {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :site_url %></p>
    <%= f.text_field :site_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :instgram_url %></p>
    <%= f.text_field :instgram_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :sales_info %></p>
    <%= f.text_field :sales_info, class: "form-control" %>
  </div>
  <div class="form-group">
    <p><%= f.label :shop_info %></p>
    <%= f.text_area :shop_info, class: "form-control" %>
  </div>

  <%= f.collection_check_boxes :style_ids, Style.all, :id, :taste, checked: @shop.style_ids ,include_hidden: false do |b| %>
    <%= b.check_box %>
    <%= b.text %>
  <% end %>

  <% if @shop.shop_images.size > 0 %>
    <% @shop.shop_images.each do |shop_image| %>
      <%= image_tag(shop_image.image.url) if shop_image.image? %>
    <% end %>
  <% end %>
  <%= f.fields_for :shop_images do |ff| %>
    <div class="form-group">
      <%= ff.file_field :image %>
      <%= ff.hidden_field :image_cache %>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>