<h1>レビュー投稿</h1>
<% if @review.errors[:user_id] %>
  <% @review.errors[:user_id].each do |message| %>
    <li><%= Review.human_attribute_name(:user_id) + message %></li>
  <% end %>
<% end %>

<%= render partial: 'form', locals: {shop: @shop, review: @review, action_path: shop_reviews_path } %>
<script>
  $('#star').raty({
    size     : 33,
    starOff:  '<%= asset_path('star-off.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'review[rate]]',
    half: true,
  });
</script>  
